<!-- A third party library for improved slider functionality on mobile.
     Available at: https://rangetouch.com/. Developers are welcome to host
     this file in place of using RangeTouch's CDN. -->
<script src="https://cdn.rangetouch.com/1.0.5/rangetouch.js"></script>

<!-- Load Storefront.js -->
<script src="https://cdn.sweettooth.io/assets/storefront.js"></script>

<!-- NOTE: Your theme may or may not come with jQuery, if not
           uncomment this script to load it on the page -->
<!-- <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script> -->

<script>
  (function() {
    /**
     * REPLACE WITH THE POINTS PRODUCT FROM YOUR ACCOUNT.
     * Learn more at: https://docs.smile.io/v1.1-private/docs/points-slider-at-checkout.
     */
    var pointsProductId = null;

    if (!pointsProductId) {
      console.error('The Smile.io pointsProductId has not been set. Please set this variable in order to show the points slider at checkout. Learn more at https://docs.smile.io/v1.1-private/docs/points-slider-at-checkout.');
      return;
    }

    // Store's currency symbol
    var currencySymbol = '$';
    // The name used for points in your reward program.
    var pointsLabel = 'points';

    /**
     * Build up the order summary section for our points slider to live in.
     * This is built up in memory so we don't add anything to the dom until
     * all html content is populated with data from the API.
     */
    var buildPointsSliderOrderSummarySection = function(customer) {
      var customerPointsBalance = customer.points_balance;

      var sliderContainerHtml = ' \
        <div class="order-summary__section order-summary__section--sweettooth-points-slider"> \
          <h3 class="sweettooth-points-balance-heading">You have <span class="sweettooth-points-balance">' + customerPointsBalance + '</span> ' + pointsLabel + '</h3> \
          <div class="sweettooth-points-slider" \
            data-points-product-id=' + pointsProductId + ' \
          ></div> \
        </div> \
      ';
      var $sliderContainer = $($.parseHTML(sliderContainerHtml));

      return $sliderContainer;
    };

    /**
     * Create a name that will exist and update under the points slider.
     * Developers should update this to reflect their reward value and
     * currency.
     */
    var generateFulfilledRewardNameFromValue = function(value) {
      return currencySymbol + value + ' off';
    };

    /**
     * Automatically apply the PointsPurchase to cart. The PointsPurchase
     * object is documented here: https://docs.smile.io. TODO add a specific
     * page for this.
     * This is implemented knowing the specific elements of Shopify's
     * checkout page.
     */
    var applyPointsPurchaseToCart = function(pointsPurchase) {
      var $discountCodeInput = $('#checkout_reduction_code');

      // Apply the discount code to the checkout's form input
      $discountCodeInput.val(pointsPurchase.fulfilled_reward.code);

      // Submit the form for the discount code
      $discountCodeInput.closest('form').find('button').click();
    };

    $(document).on('sweettooth-initialized', function() {
      // Don't show if there is no customer
      if (!SweetTooth.customer) {
        return;
      }

      var $sliderContainer = buildPointsSliderOrderSummarySection(SweetTooth.customer);
      var $pointsSlider = $sliderContainer.find('.sweettooth-points-slider');
      var pointsSliderData = $pointsSlider.data();
      var pointsProductId = pointsSliderData.pointsProductId;

      SweetTooth.fetchPointsProduct(pointsProductId).then(function(pointsProduct) {
        if (pointsProduct.exchange_type !== 'variable') {
          console.error("Oops! The Smile.io points product you're using for the points slider does not support variable reward values and thus cannot be displayed as a slider. To use the points slider, setup a points product that supports variable reward values. Learn more at https://docs.smile.io");
          return;
        }

        var reward = pointsProduct.reward;
        var min = pointsProduct.variable_points_min || 0;
        var max = pointsProduct.variable_points_max || 0;
        var step = pointsProduct.variable_points_step;
        var stepRewardValue = pointsProduct.variable_points_step_reward_value;
        var initialSliderValue = min;

        // Cap max slider value at the number of points the customer has
        max = Math.min(SweetTooth.customer.points_balance, max);

        var rewardValue = (initialSliderValue / step) * stepRewardValue;
        var rewardName = generateFulfilledRewardNameFromValue(rewardValue);

        var sliderHtml = ' \
          <div class="sweettooth-redeem-amount-label">Redeem <span class="sweettooth-slider-value">' + initialSliderValue + '</span> ' + pointsLabel + '</div> \
          <div class="fieldset"> \
            <div class="field"> \
              <div class="sweettooth-form"> \
                <div class="sweettooth-range-input-container"> \
                  <input \
                    class="sweettooth-range-input" \
                    type="range" \
                    min="' + min + '" \
                    max="' + max + '" \
                    step="' + step + '" \
                    value="' + initialSliderValue + '" \
                    data-orientation="horizontal" \
                  > \
                  <div class="sweettooth-reward-name">' + rewardName + '</div> \
                </div> \
                <div class="sweettooth-redeem-button-container"> \
                  <button type="submit" class="sweettooth-redeem-button field__input-btn btn btn--default"> \
                    <span class="btn__content visually-hidden-on-mobile">Redeem</span> \
                    <i class="btn__content shown-on-mobile icon icon--arrow"></i> \
                    <i class="btn__spinner icon icon--button-spinner"></i> \
                  </button> \
                </div> \
              </div> \
              <p class="field__message field__message--error sweettooth-points-slider-error">Something went wrong spending your points. Please try again.</p> \
            </div> \
          </div> \
          ';

        // Add slider html to the points slider container
        $pointsSlider.append(sliderHtml);

        /**
         * Check whether the customer can spend points or if
         * the slider has a value of 0. If one of those is true
         * disable the 'Redeem' button.
         */
         var $redeemButton = $pointsSlider.find('.sweettooth-redeem-button');
         if (SweetTooth.customer.points_balance < min || rewardValue === 0) {
           $pointsSlider.find('.sweettooth-reward-name').text('You need a minimum of ' + min + ' ' + pointsLabel + ' to redeem');
           $redeemButton.addClass('btn--disabled');
           $redeemButton.attr('disabled', true);
         }

        /**
         * Handle slider value change events.
         *
         * Listening on two events:
         *   input - To update values as the customer is sliding the slider
         *   change - To update values when the slider is changed via javascript
         *
         * Source: First comment on this answer http://stackoverflow.com/a/19067260/540194
         */
        $pointsSlider.on('input change', '.sweettooth-range-input', function() {
          var sliderValue = $(this).val();
          var rewardValue = (sliderValue / step) * stepRewardValue;

          // Update points to be spent based on slider value
          $pointsSlider.find('.sweettooth-slider-value').text(sliderValue);

          // Update reward name based on the slider value
          var rewardName = generateFulfilledRewardNameFromValue(rewardValue);
          $pointsSlider.find('.sweettooth-reward-name').text(rewardName);

          /**
           * Ensure the redeem button is disabled if the slider
           * value is 0.
           */
          $redeemButton = $pointsSlider.find('.sweettooth-redeem-button');
          if (rewardValue === 0) {
            $redeemButton.addClass('btn--disabled');
            $redeemButton.attr('disabled', true);
          } else {
            $redeemButton.removeClass('btn--disabled');
            $redeemButton.attr('disabled', false);
          }
        });

        // Handle redeem button click events
        $pointsSlider.on('click', '.sweettooth-redeem-button', function() {
          var $redeemButton = $(this);
          var sliderValue = $pointsSlider.find('.sweettooth-range-input').val();

          // Start loading indicator
          $redeemButton.addClass('btn--loading');

          // Hit the Smile.io API to spend customer's points
          SweetTooth.purchasePointsProduct(pointsProductId, { points_to_spend: sliderValue }).then(function(pointsPurchase) {
            // Clear the field error if there was one previously
            $pointsSlider.find('.field').removeClass('field--error');

            applyPointsPurchaseToCart(pointsPurchase);

            // Immediately update the customers points balance
            $('.sweettooth-points-balance').text(SweetTooth.customer.points_balance - pointsPurchase.points_spent);

            /**
             * Update customer's points balance based on the server's value.
             * This should be the same as the above but always nice to confirm.
             */
            SweetTooth.fetchCustomer().then(function(customer) {
              $('.sweettooth-points-balance').text(customer.points_balance);
            });
            
            /**
             * Replace the points slider with a message about the discount being applied
             * to the cart.
             */
            $pointsSlider.find('.sweettooth-redeem-amount-label').text('');
            $pointsSlider.find('.sweettooth-range-input-container').text('Congrats! Your reward has been applied to the cart.')
          }).catch(function(err) {
            console.error('Something went wrong when purchasing points product with id ' + pointsProductId + '.');
            $pointsSlider.find('.field').addClass('field--error');
          }).then(function() {
            /**
             * This block runs whether the call succeeds or fails, kind of like finally() in other languages.
             * Source: http://stackoverflow.com/a/35999141/540194
             */

            $redeemButton.removeClass('btn--loading');
            
            $redeemButton.addClass('btn--disabled');
            $redeemButton.attr('disabled', true);

            var $rangeInput = $pointsSlider.find('.sweettooth-range-input');
            $rangeInput.val(0);
            $rangeInput.change();
          });
        });

        /**
         * Insert the points slider order summary section above the discount code
         * section.
         */
        $('.order-summary__section--discount').before($sliderContainer);

      }).catch(function(err) {
        console.error('Something went wrong fetching the Smile.io points product. Points slider will not be rendered. Learn more at https://docs.smile.io/v1.1-private/docs/points-slider-at-checkout.');
      }); // fetchPointsProduct
    });
  }());
</script>

<style>
  .sweettooth-points-balance-heading {
    margin-bottom: 20px;
  }

  .sweettooth-redeem-amount-label {
    padding-bottom: 5px;
  }

  .sweettooth-points-slider .sweettooth-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .sweettooth-points-slider .sweettooth-range-input-container {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 5px;
  }

  .sweettooth-points-slider .sweettooth-range-input-container .sweettooth-range-input {
    margin: 12px 0;
  }

  .sweettooth-points-slider .sweettooth-redeem-button-container {
    -ms-flex-negative: 1;
    flex-shrink: 1;
  }

  .sweettooth-points-slider .sweettooth-redeem-button {
    height: 42px;
  }

  .sweettooth-points-slider .sweettooth-reward-name {
    text-align: center;
    padding-top: 5px;
  }

  .sweettooth-points-slider .sweettooth-range-input {
    display: block;
    width: 100%;

    /* Fixes shopify checkout */
    -webkit-appearance: slider-horizontal;
  }

  @media (max-width: 767px) {
  	.sweettooth-points-slider .sweettooth-form {
      padding-left: 30px;
    }
  }
</style>
